*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
android-context.txt
# IDE específico y logs
.idea/
.kotlin/
*.log

# Archivos de SO
.DS_Store
Thumbs.db